# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment variables
# =========================
.env

# =========================
# Docker
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build / Cache
# =========================
build/
dist/
.eggs/
*.egg-info/
